<a href="https://colab.research.google.com/github/khantnhl/CariConnect/blob/main/Caricon_Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
from google.colab import files

In [34]:
#Book categories
df_cat = pd.read_csv('/content/drive/MyDrive/CariConnect Dataset /Point1-Categories.csv', encoding= 'latin1')
df_cat.head()

,Name,Description,Keywords,Elements/Characteristics,Demographic Details,Related Categories,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Fantasy,Fiction involving magical or supernatural elem...,"Magic, supernatural, adventure, mythical creat...","Magical worlds, mythical beings, epic quests, ...",All ages.,"Science fiction, paranormal, adventure.",NaN,NaN,NaN
1,Science Fiction,Fiction based on futuristic science and techno...,"Futuristic, technology, space, time travel, ex...","Futuristic settings, advanced technology, spac...",Young adult to adult.,"Fantasy, adventure, dystopian.",NaN,NaN,NaN
2,Mystery,Fiction involving solving a crime or uncoverin...,"Crime, detective, investigation, clues, suspense.","Involving crime-solving, detectives, puzzles, ...",Young adult to adult.,"Thriller, crime fiction, suspense.",NaN,NaN,NaN
3,Romance,Fiction focusing on romantic relationships.,"Love, relationships, passion, emotions, intimacy.","Emotional connections, relationship developmen...",Young adult to adult.,"Contemporary fiction, drama, women's fiction.",NaN,NaN,NaN
4,Thriller,Fiction characterized by excitement and suspense.,"Suspense, danger, excitement, tension, action.","Fast-paced plots, high stakes, plot twists, su...",Adult.,"Mystery, crime fiction, adventure.",NaN,NaN,NaN

In [ ]:
df_cat.shape

(105, 9)

In [ ]:
df_cat.columns

Index(['Name', 'Description', 'Keywords', 'Elements/Characteristics',
       'Demographic Details', 'Related Categories', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8'],
      dtype='object')

In [ ]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      105 non-null    object
 1   Description               105 non-null    object
 2   Keywords                  105 non-null    object
 3   Elements/Characteristics  105 non-null    object
 4   Demographic Details       105 non-null    object
 5   Related Categories        105 non-null    object
 6   Unnamed: 6                1 non-null      object
 7   Unnamed: 7                1 non-null      object
 8   Unnamed: 8                1 non-null      object
dtypes: object(9)
memory usage: 7.5+ KB

In [ ]:
df_cat.isna().sum()

Name                          0
Description                   0
Keywords                      0
Elements/Characteristics      0
Demographic Details           0
Related Categories            0
Unnamed: 6                  104
Unnamed: 7                  104
Unnamed: 8                  104
dtype: int64

In [ ]:
# Null collumns that have 1 non null value, investigating index
arr_na = pd.Index(df_cat['Unnamed: 6']).notna()
for i in range(len(arr_na)):
  if arr_na[i] == True:
    print(i)

38

In [ ]:
df_cat.iloc[[37, 38, 39]]

,Name,Description,Keywords,Elements/Characteristics,Demographic Details,Related Categories,Unnamed: 6,Unnamed: 7,Unnamed: 8
37,Alternate History,Fiction that explores what might have happened...,"Alternate history, what-if, historical changes...","Divergent historical events, speculative scena...",Adult.,"Historical fiction, science fiction, fantasy.",NaN,NaN,NaN
38,Magical Realism,Fiction where magical elements are a natural p...,"\nPolitical Thriller,Fiction that involves pol...",conspiracy,"and power struggles.""","Politics, conspiracy, power, suspense, espionage.","Political intrigue, conspiracy theories, suspe...",Adult.,"Thriller, espionage, political fiction."
39,Medical Thriller,Fiction that combines medical science with sus...,"Medicine, science, health, danger, suspense.","Medical procedures, scientific ethics, life-th...",Adult.,"Thriller, medical fiction, suspense.",NaN,NaN,NaN

In [ ]:
#Problem row is index 38, Magical Realism merged with Political Thriller.
#Solutions: Drop row, or retain Political Thriller and drop Magical Realism with missing values, or request it be filled

In [ ]:
#Book information, non utf-8
df_books = pd.read_csv('/content/Caricon/Point2-Books.csv', encoding='latin1')
df_books.head()

,URL,Book Title,Author,ISBN,Language,Publisher,Publication place,Genre,Publication date,Published,...,Text,Setin,Subjects,Website,Editor,Release number,Nationality,Workingtitle,Award,Translators
0,https://en.wikipedia.org/wiki/London:_The_Biog...,London: The Biography,Peter Ackroyd,978-0385497701,English,Chatto & Windus,United Kingdom,Non-fiction,NaN,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://en.wikipedia.org/wiki/Queer_City,Queer City,Peter Ackroyd,978-0-7011-8881-8,English,"Chatto & Windus (UK), Abrams Books (US)",NaN,NaN,2017 (UK)/2018 (US),London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Douglas_Adams%27...,Douglas Adams's Guide to The Hitchhiker's Guid...,Douglas Adams and Debbie Barham,0-563-55236-0,English,BBC,United Kingdom,"Comedy, Science fiction",1998,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Last_Chance_to_See,Last Chance to See,Douglas Adams and Mark Carwardine,978-0-345-37198-0,NaN,Pan Books,NaN,NaN,1990,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/The_Meaning_of_Liff,The Meaning of Liff,Douglas AdamsJohn Lloyd,0-330-28121-6,English,Pan Books,United Kingdom,NaN,11-Nov-83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_books.shape

(1437, 36)

In [ ]:
df_books.columns

Index(['URL', 'Book Title', 'Author', 'ISBN', 'Language', 'Publisher',
       'Publication place', 'Genre', 'Publication date', 'Published', 'Pages',
       'Mediatype', 'Subject', 'Dewey Decimal', 'Series', 'OCLC',
       'Followedby', 'Precededby', 'Coverartist', 'Audioreadby',
       'Illustrator', 'Originaltitle', 'Translator', 'Publishedin English',
       'Awards', 'LCClass', 'Text', 'Setin', 'Subjects', 'Website', 'Editor',
       'Release number', 'Nationality', 'Workingtitle', 'Award',
       'Translators'],
      dtype='object')

In [ ]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   URL                   1437 non-null   object
 1   Book Title            1437 non-null   object
 2   Author                1437 non-null   object
 3   ISBN                  1437 non-null   object
 4   Language              1273 non-null   object
 5   Publisher             1209 non-null   object
 6   Publication place     1155 non-null   object
 7   Genre                 652 non-null    object
 8   Publication date      1139 non-null   object
 9   Published             287 non-null    object
 10  Pages                 1209 non-null   object
 11  Mediatype            1029 non-null   object
 12  Subject               705 non-null    object
 13  Dewey Decimal         234 non-null    object
 14  Series                92 non-null     object
 15  OCLC                  604 non-null    object
 16  Followedby           356 non-null    object
 17  Precededby           342 non-null    object
 18  Coverartist          139 non-null    object
 19  Audioreadby         25 non-null     object
 20  Illustrator           141 non-null    object
 21  Originaltitle        165 non-null    object
 22  Translator            102 non-null    object
 23  Publishedin English  91 non-null     object
 24  Awards                22 non-null     object
 25  LCClass              287 non-null    object
 26  Text                  15 non-null     object
 27  Setin                26 non-null     object
 28  Subjects              54 non-null     object
 29  Website               44 non-null     object
 30  Editor                15 non-null     object
 31  Release number        9 non-null      object
 32  Nationality           0 non-null      float64
 33  Workingtitle         5 non-null      object
 34  Award                 4 non-null      object
 35  Translators           8 non-null      object
dtypes: float64(1), object(35)
memory usage: 404.3+ KB

In [ ]:
df_books.isna().sum()

URL                        0
Book Title                 0
Author                     0
ISBN                       0
Language                 164
Publisher                228
Publication place        282
Genre                    785
Publication date         298
Published               1150
Pages                    228
Mediatype               408
Subject                  732
Dewey Decimal           1203
Series                  1345
OCLC                     833
Followedby             1081
Precededby             1095
Coverartist            1298
Audioreadby           1412
Illustrator             1296
Originaltitle          1272
Translator              1335
Publishedin English    1346
Awards                  1415
LCClass                1150
Text                    1422
Setin                  1411
Subjects                1383
Website                 1393
Editor                  1422
Release number          1428
Nationality             1437
Workingtitle           1432
Award                   1433
Translators             1429
dtype: int64

In [ ]:
df_books.notna().sum()

URL                     1437
Book Title              1437
Author                  1437
ISBN                    1437
Language                1273
Publisher               1209
Publication place       1155
Genre                    652
Publication date        1139
Published                287
Pages                   1209
Mediatype              1029
Subject                  705
Dewey Decimal            234
Series                    92
OCLC                     604
Followedby              356
Precededby              342
Coverartist             139
Audioreadby             25
Illustrator              141
Originaltitle           165
Translator               102
Publishedin English      91
Awards                    22
LCClass                 287
Text                      15
Setin                    26
Subjects                  54
Website                   44
Editor                    15
Release number             9
Nationality                0
Workingtitle              5
Award                      4
Translators                8
dtype: int64

In [ ]:
df_books['Publication place'].unique()

array(['United Kingdom', nan, 'United States', 'Nigeria', 'Angola',
       'Soviet Union', 'The United Kingdom', 'South Africa', 'USA',
       'Cape Verde', 'Brazil', 'India', 'England', 'Canada', 'France',
       'United States of America', 'Australia', 'Egypt', 'British India',
       'Pakistan', 'Bangladesh', 'Bangladesh, India and Pakistan',
       'London, United Kingdom', 'London, England', 'Great Britain',
       'United KingdomUnited States of America', 'Denmark', 'Serbia',
       '\xa0Great Britain', 'Nepal', 'Australia, UK, US', 'Russia',
       'United States/Canada', 'Italy', 'Germany', 'The Netherlands',
       'Libya', 'United Kingdom, United States', 'South America', 'UK',
       'New Zealand', 'Jordan', 'German Reich', 'China',
       'Trinidad / United Kingdom', 'Poland', 'Imperial State of Iran',
       'Iran', 'Austria', 'United States [1]',
       'United Kingdom and United States', 'Norway', 'U.S.A.', 'U.S.',
       'US', 'Morocco', 'Japan', 'Switzerland, Israel', 'Netherlands',
       'Philippines', 'The United States of America', 'Argentina',
       'United States, Germany', 'Ireland', 'West Germany', 'Senegal',
       'UK, United States', 'United States[a]',
       'Russia (written)/Germany (first published)', 'Slovenia'],
      dtype=object)

In [ ]:
df_books[df_books['Publication place'].eq('Trinidad / United Kingdom')]

,URL,Book Title,Author,ISBN,Language,Publisher,Publication place,Genre,Publication date,Published,...,Text,Setin,Subjects,Website,Editor,Release number,Nationality,Workingtitle,Award,Translators
647,https://en.wikipedia.org/wiki/Beyond_a_Boundary,Beyond a Boundary,C. L. R. James,978-0-224-07427-8,English,Hutchinson (1963),Trinidad / United Kingdom,NaN,"1963, 2005 (US 1982, 1993)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Empty columns (Nationality), lots of missing values, columns that could be merged (Award and Awards), columns that may be useless and dropped (URL, ISBN)

In [ ]:
#Category descriptions and Popular Book information, no data specific to Caribbean authors

In [ ]:
df_isbn = pd.read_csv('/content/isbndb-caribbean-books.csv', encoding= 'latin1')
df_isbn.head()

,title,title_long,subjects,binding,date_published,publisher,pages,synopsis,image,isbn,isbn10,isbn13,language,authors,msrp,edition
0,Britain's Black Debt: Reparations for Caribbea...,Britain's Black Debt: Reparations for Caribbea...,History\nAfrica\nWest Africa\nAmericas\nCaribb...,Paperback,2/25/2013,University Press of the West Indies,248.0,Since the mid-nineteenth-century abolition of ...,https://images.isbndb.com/covers/26/86/9789766...,976640268X,976640268X,9789766402686,en,Hilary McD. Beckles,NaN,NaN
1,Maharani's Misery: Narratives of a Passage fro...,Maharani's Misery: Narratives of a Passage fro...,History\nAmericas\nCaribbean & West Indies,Paperback,10/1/2002,University Press of the West Indies,160.0,Maharani?s Misery sheds new light on the ordea...,https://images.isbndb.com/covers/12/14/9789766...,9766401217,9766401217,9789766401214,en,Verene A. Shepherd,NaN,NaN
2,The Birth of Caribbean Civilization: A Century...,The Birth of Caribbean Civilization: A Century...,Politics & Social Sciences\nSocial Sciences\nH...,Paperback,2004-07,James Currey Ltd,500.0,"For more than a century, Caribbean intellectua...",https://images.isbndb.com/covers/87/20/9780852...,852558724,852558724,9780852558720,en,NaN,NaN,NaN
3,The Lonely Londoners (Longman Caribbean Writer...,The Lonely Londoners (Longman Caribbean Writer...,Literature & Fiction\nHistory & Criticism\nMov...,Paperback,1/11/1989,Longman,141.0,Looking for a better life a group of West Indi...,https://images.isbndb.com/covers/26/45/9780582...,582642647,582642647,9780582642645,en,Samuel Selvon,22.80,15th Printing
4,The Oxford Book of Caribbean Short Stories: Re...,The Oxford Book of Caribbean Short Stories: Re...,Literature & Fiction\nHistory & Criticism\nReg...,Paperback,3/21/2002,Oxford University Press,476.0,"Some of the freshest, most vital, and diverse ...",https://images.isbndb.com/covers/22/93/9780192...,192802291,192802291,9780192802293,en,NaN,29.95,Reissue

In [ ]:
# Could drop some colmns binding, pages, isbns, etc
# Text data, need a way to condense those types of features

In [ ]:
df_isbn.shape

(6000, 16)

In [ ]:
df_isbn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           6000 non-null   object
 1   title_long      5997 non-null   object
 2   subjects        5738 non-null   object
 3   binding         5948 non-null   object
 4   date_published  5949 non-null   object
 5   publisher       5980 non-null   object
 6   pages           5663 non-null   float64
 7   synopsis        5462 non-null   object
 8   image           6000 non-null   object
 9   isbn            6000 non-null   object
 10  isbn10          5889 non-null   object
 11  isbn13          6000 non-null   int64
 12  language        5997 non-null   object
 13  authors         5425 non-null   object
 14  msrp            2774 non-null   float64
 15  edition         3046 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 750.1+ KB

In [ ]:
df_isbn.isna().sum()

title                0
title_long           3
subjects           262
binding             52
date_published      51
publisher           20
pages              337
synopsis           538
image                0
isbn                 0
isbn10             111
isbn13               0
language             3
authors            575
msrp              3226
edition           2954
dtype: int64

In [ ]:
# Drop missing subjects and synopsis?
# Or derive subject data from synopsis or title?
# Or grab publisher from ISBN?

In [ ]:
df_pubs = pd.read_csv('/content/publishers_data.csv', encoding= 'latin1')
df_pubs.head()

,Publisher URL,Publisher Name,Country,Location,Media Types,Subjects,Languages,Mailing Address,Phone Number(s),Website,Description,Unnamed: 11
0,https://www.publishersglobal.com/directory/pub...,"John Wiley & Sons, Inc.",United States,"Hoboken, NJ","E-Books, Audio Books, Digital Contents, Books","Reference, Law, Language, History, Gender Stud...",English,"111 River Street, Hoboken, NJ, United States, ...",No number on record,http://www.wiley.com/,Wiley's Global Research business is a provider...,NaN
1,https://www.publishersglobal.com/directory/pub...,"Scholastic, Inc.",United States,"New York, NY","E-Books, Books","Juvenile, Children's, Reference, Language",English,"557 Broadway, New York, NY, United States, 10012",+ 1 212 3436969,http://www.scholastic.com,The world's largest publisher and distributor ...,NaN
2,https://www.publishersglobal.com/directory/pub...,Houghton Mifflin Harcourt Publishing Company,United States,"Boston, MA","Digital Contents, Books","School, Juvenile, Children's",English,"222 Berkeley Street, Boston, MA, United States...",+ 1 617 351 5000,http://www.hmhco.com,"As a global learning company, HMH specializes ...",NaN
3,https://www.publishersglobal.com/directory/pub...,HarperCollins Publishers,United States,"New York, NY","Books, Audio Books","Science, Romance, Mystery, History, Cookbook, ...",English,"10 East 43rd Street, New York, NY, United Stat...",+ 1 2 12 2 07 70 00,NaN,Publishers of trade and religious books. Inclu...,NaN
4,https://www.publishersglobal.com/directory/pub...,Merriam-Webster Inc.,United States,"Springfield, MA","Digital Contents, Books","Dictionary, Reference",English,"47 Federal Street, PO Box 281, Springfield, MA...",+ 1 413 7 34 31 34,http://www.merriam-webster.com,America's first publisher of dictionaries and ...,NaN

In [ ]:
df_pubs.shape

(2383, 12)

In [ ]:
df_pubs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2383 entries, 0 to 2382
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Publisher URL    2383 non-null   object
 1   Publisher Name   2383 non-null   object
 2   Country          1417 non-null   object
 3   Location         1361 non-null   object
 4   Media Types      2344 non-null   object
 5   Subjects         2054 non-null   object
 6   Languages        1253 non-null   object
 7   Mailing Address  2383 non-null   object
 8   Phone Number(s)  2383 non-null   object
 9   Website          2340 non-null   object
 10  Description      2306 non-null   object
 11  Unnamed: 11      0 non-null      float64
dtypes: float64(1), object(11)
memory usage: 223.5+ KB

In [ ]:
# Empty column Unnamed, can drop contract info, subjects are text data

In [ ]:
df_pubs.isna().sum()

Publisher URL         0
Publisher Name        0
Country             966
Location           1022
Media Types          39
Subjects            329
Languages          1130
Mailing Address       0
Phone Number(s)       0
Website              43
Description          77
Unnamed: 11        2383
dtype: int64

In [ ]:
# drop missing subjects data

In [ ]:
# matching books in isbn dataset to publishers dataset

NameError: name 'git' is not defined