In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
#Book categories
df_cat = pd.read_csv('/content/drive/MyDrive/CariConnect Dataset /Point1-Categories.csv', encoding= 'latin1')
df_cat

,Name,Description,Keywords,Elements/Characteristics,Demographic Details,Related Categories,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,Fantasy,Fiction involving magical or supernatural elem...,"Magic, supernatural, adventure, mythical creat...","Magical worlds, mythical beings, epic quests, ...",All ages.,"Science fiction, paranormal, adventure.",NaN,NaN,NaN
1,Science Fiction,Fiction based on futuristic science and techno...,"Futuristic, technology, space, time travel, ex...","Futuristic settings, advanced technology, spac...",Young adult to adult.,"Fantasy, adventure, dystopian.",NaN,NaN,NaN
2,Mystery,Fiction involving solving a crime or uncoverin...,"Crime, detective, investigation, clues, suspense.","Involving crime-solving, detectives, puzzles, ...",Young adult to adult.,"Thriller, crime fiction, suspense.",NaN,NaN,NaN
3,Romance,Fiction focusing on romantic relationships.,"Love, relationships, passion, emotions, intimacy.","Emotional connections, relationship developmen...",Young adult to adult.,"Contemporary fiction, drama, women's fiction.",NaN,NaN,NaN
4,Thriller,Fiction characterized by excitement and suspense.,"Suspense, danger, excitement, tension, action.","Fast-paced plots, high stakes, plot twists, su...",Adult.,"Mystery, crime fiction, adventure.",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
100,Art & Photography,Non-fiction or fiction that explores art histo...,"Art, photography, history, artistic, visual.","Artistic movements, photography techniques, vi...",All ages.,"Non-fiction, art history, photography.",NaN,NaN,NaN
101,History & Archaeology,Non-fiction or fiction that delves into histor...,"History, archaeology, ancient, civilizations, ...","Historical narratives, archaeological excavati...",All ages.,"Non-fiction, archaeology, ancient history.",NaN,NaN,NaN
102,Philosophy,Non-fiction or fiction focused on philosophica...,"Philosophy, ethics, ideas, thought, existential.","Philosophical theories, ethical dilemmas, exis...",Adult.,"Non-fiction, ethics, philosophical inquiry.",NaN,NaN,NaN
103,Religion & Spirituality,Non-fiction or fiction that explores religious...,"Religion, spirituality, faith, beliefs, philos...","Religious teachings, spiritual practices, fait...",All ages.,"Non-fiction, philosophy, inspirational.",NaN,NaN,NaN
104,Travel & Adventure,Non-fiction or fiction centered around travel ...,"Travel, adventure, journey, exploration, exper...","Travel adventures, epic journeys, cultural exp...",All ages.,"Non-fiction, memoir, adventure.",NaN,NaN,NaN

In [ ]:
df.columns

Index(['Name', 'Description', 'Keywords', 'Elements/Characteristics',
       'Demographic Details', 'Related Categories', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8'],
      dtype='object')

In [ ]:
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      105 non-null    object
 1   Description               105 non-null    object
 2   Keywords                  105 non-null    object
 3   Elements/Characteristics  105 non-null    object
 4   Demographic Details       105 non-null    object
 5   Related Categories        105 non-null    object
 6   Unnamed: 6                1 non-null      object
 7   Unnamed: 7                1 non-null      object
 8   Unnamed: 8                1 non-null      object
dtypes: object(9)
memory usage: 7.5+ KB

In [ ]:
df_cat.isna().sum()

Name                          0
Description                   0
Keywords                      0
Elements/Characteristics      0
Demographic Details           0
Related Categories            0
Unnamed: 6                  104
Unnamed: 7                  104
Unnamed: 8                  104
dtype: int64

In [ ]:
# Null collumns that have 1 non null value, investigating index
arr_na = pd.Index(df_cat['Unnamed: 6']).notna()
for i in range(len(arr_na)):
  if arr_na[i] == True:
    print(i)

38

In [ ]:
df_cat.iloc[[37, 38, 39]]

,Name,Description,Keywords,Elements/Characteristics,Demographic Details,Related Categories,Unnamed: 6,Unnamed: 7,Unnamed: 8
37,Alternate History,Fiction that explores what might have happened...,"Alternate history, what-if, historical changes...","Divergent historical events, speculative scena...",Adult.,"Historical fiction, science fiction, fantasy.",NaN,NaN,NaN
38,Magical Realism,Fiction where magical elements are a natural p...,"\nPolitical Thriller,Fiction that involves pol...",conspiracy,"and power struggles.""","Politics, conspiracy, power, suspense, espionage.","Political intrigue, conspiracy theories, suspe...",Adult.,"Thriller, espionage, political fiction."
39,Medical Thriller,Fiction that combines medical science with sus...,"Medicine, science, health, danger, suspense.","Medical procedures, scientific ethics, life-th...",Adult.,"Thriller, medical fiction, suspense.",NaN,NaN,NaN

In [ ]:
#Problem row is index 38, Magical Realism merged with Political Thriller.
#Solutions: Drop row, or retain Political Thriller and drop Magical Realism with missing values, or request it be filled

In [ ]:
#Book information, non utf-8
df_books = pd.read_csv('/content/drive/.shortcut-targets-by-id/1qQT-SnFmt_jtHj_aGwCJI02ieJQlzsow/BTT CARI-CONNECT /CariConnect Dataset /Point2-Books by Authors.csv', encoding='latin1')
df_books.head()

,URL,Book Title,Author,ISBN,Language,Publisher,Publication place,Genre,Publication date,Published,...,Text,SetÂ in,Subjects,Website,Editor,Release number,Nationality,WorkingÂ title,Award,Translators
0,https://en.wikipedia.org/wiki/London:_The_Biog...,London: The Biography,Peter Ackroyd,978-0385497701,English,Chatto & Windus,United Kingdom,Non-fiction,NaN,2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://en.wikipedia.org/wiki/Queer_City,Queer City,Peter Ackroyd,978-0-7011-8881-8,English,"Chatto & Windus (UK), Abrams Books (US)",NaN,NaN,2017 (UK)/2018 (US),London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://en.wikipedia.org/wiki/Douglas_Adams%27...,Douglas Adams's Guide to The Hitchhiker's Guid...,Douglas Adams and Debbie Barham,0-563-55236-0,English,BBC,United Kingdom,"Comedy, Science fiction",1998,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://en.wikipedia.org/wiki/Last_Chance_to_See,Last Chance to See,Douglas Adams and Mark Carwardine,978-0-345-37198-0,NaN,Pan Books,NaN,NaN,1990,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://en.wikipedia.org/wiki/The_Meaning_of_Liff,The Meaning of Liff,Douglas AdamsJohn Lloyd,0-330-28121-6,English,Pan Books,United Kingdom,NaN,11-Nov-83,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_books.shape

(1437, 36)

In [ ]:
df_books.columns

Index(['URL', 'Book Title', 'Author', 'ISBN', 'Language', 'Publisher',
       'Publication place', 'Genre', 'Publication date', 'Published', 'Pages',
       'MediaÂ type', 'Subject', 'Dewey Decimal', 'Series', 'OCLC',
       'FollowedÂ by', 'PrecededÂ by', 'CoverÂ artist', 'AudioÂ readÂ by',
       'Illustrator', 'OriginalÂ title', 'Translator', 'PublishedÂ in English',
       'Awards', 'LCÂ Class', 'Text', 'SetÂ in', 'Subjects', 'Website', 'Editor',
       'Release number', 'Nationality', 'WorkingÂ title', 'Award',
       'Translators'],
      dtype='object')

In [ ]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   URL                   1437 non-null   object
 1   Book Title            1437 non-null   object
 2   Author                1437 non-null   object
 3   ISBN                  1437 non-null   object
 4   Language              1273 non-null   object
 5   Publisher             1209 non-null   object
 6   Publication place     1155 non-null   object
 7   Genre                 652 non-null    object
 8   Publication date      1139 non-null   object
 9   Published             287 non-null    object
 10  Pages                 1209 non-null   object
 11  MediaÂ type            1029 non-null   object
 12  Subject               705 non-null    object
 13  Dewey Decimal         234 non-null    object
 14  Series                92 non-null     object
 15  OCLC                  604 non-null    object
 16  FollowedÂ by           356 non-null    object
 17  PrecededÂ by           342 non-null    object
 18  CoverÂ artist          139 non-null    object
 19  AudioÂ readÂ by         25 non-null     object
 20  Illustrator           141 non-null    object
 21  OriginalÂ title        165 non-null    object
 22  Translator            102 non-null    object
 23  PublishedÂ in English  91 non-null     object
 24  Awards                22 non-null     object
 25  LCÂ Class              287 non-null    object
 26  Text                  15 non-null     object
 27  SetÂ in                26 non-null     object
 28  Subjects              54 non-null     object
 29  Website               44 non-null     object
 30  Editor                15 non-null     object
 31  Release number        9 non-null      object
 32  Nationality           0 non-null      float64
 33  WorkingÂ title         5 non-null      object
 34  Award                 4 non-null      object
 35  Translators           8 non-null      object
dtypes: float64(1), object(35)
memory usage: 404.3+ KB

In [ ]:
df_books.isna().sum()

URL                        0
Book Title                 0
Author                     0
ISBN                       0
Language                 164
Publisher                228
Publication place        282
Genre                    785
Publication date         298
Published               1150
Pages                    228
MediaÂ type               408
Subject                  732
Dewey Decimal           1203
Series                  1345
OCLC                     833
FollowedÂ by             1081
PrecededÂ by             1095
CoverÂ artist            1298
AudioÂ readÂ by           1412
Illustrator             1296
OriginalÂ title          1272
Translator              1335
PublishedÂ in English    1346
Awards                  1415
LCÂ Class                1150
Text                    1422
SetÂ in                  1411
Subjects                1383
Website                 1393
Editor                  1422
Release number          1428
Nationality             1437
WorkingÂ title           1432
Award                   1433
Translators             1429
dtype: int64

In [ ]:
df_books.notna().sum()

URL                     1437
Book Title              1437
Author                  1437
ISBN                    1437
Language                1273
Publisher               1209
Publication place       1155
Genre                    652
Publication date        1139
Published                287
Pages                   1209
MediaÂ type              1029
Subject                  705
Dewey Decimal            234
Series                    92
OCLC                     604
FollowedÂ by              356
PrecededÂ by              342
CoverÂ artist             139
AudioÂ readÂ by             25
Illustrator              141
OriginalÂ title           165
Translator               102
PublishedÂ in English      91
Awards                    22
LCÂ Class                 287
Text                      15
SetÂ in                    26
Subjects                  54
Website                   44
Editor                    15
Release number             9
Nationality                0
WorkingÂ title              5
Award                      4
Translators                8
dtype: int64

In [ ]:
df_books['Publication place'].unique()

array(['United Kingdom', nan, 'United States', 'Nigeria', 'Angola',
       'Soviet Union', 'The United Kingdom', 'South Africa', 'USA',
       'Cape Verde', 'Brazil', 'India', 'England', 'Canada', 'France',
       'United States of America', 'Australia', 'Egypt', 'British India',
       'Pakistan', 'Bangladesh', 'Bangladesh, India and Pakistan',
       'London, United Kingdom', 'London, England', 'Great Britain',
       'United KingdomUnited States of America', 'Denmark', 'Serbia',
       '\xa0Great Britain', 'Nepal', 'Australia, UK, US', 'Russia',
       'United States/Canada', 'Italy', 'Germany', 'The Netherlands',
       'Libya', 'United Kingdom, United States', 'South America', 'UK',
       'New Zealand', 'Jordan', 'German Reich', 'China',
       'Trinidad / United Kingdom', 'Poland', 'Imperial State of Iran',
       'Iran', 'Austria', 'United States [1]',
       'United Kingdom and United States', 'Norway', 'U.S.A.', 'U.S.',
       'US', 'Morocco', 'Japan', 'Switzerland, Israel', 'Netherlands',
       'Philippines', 'The United States of America', 'Argentina',
       'United States, Germany', 'Ireland', 'West Germany', 'Senegal',
       'UK, United States', 'United States[a]',
       'Russia (written)/Germany (first published)', 'Slovenia'],
      dtype=object)

In [ ]:
df_books[df_books['Publication place'].eq('Trinidad / United Kingdom')]

,URL,Book Title,Author,ISBN,Language,Publisher,Publication place,Genre,Publication date,Published,...,Text,SetÂ in,Subjects,Website,Editor,Release number,Nationality,WorkingÂ title,Award,Translators
647,https://en.wikipedia.org/wiki/Beyond_a_Boundary,Beyond a Boundary,C. L. R. James,978-0-224-07427-8,English,Hutchinson (1963),Trinidad / United Kingdom,NaN,"1963, 2005 (US 1982, 1993)",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_books['Publisher'].nunique()

633

In [ ]:
# Empty columns (Nationality), lots of missing values, columns that could be merged (Award and Awards), columns that may be useless and dropped (URL, ISBN)

In [ ]:
#Category descriptions and Popular Book information, no data specific to Caribbean authors

In [ ]:
df_cisbn = pd.read_csv('/content/drive/.shortcut-targets-by-id/1qQT-SnFmt_jtHj_aGwCJI02ieJQlzsow/BTT CARI-CONNECT /CariConnect Dataset /isbndb-caribbean-books.csv', encoding= 'latin1')
df_cisbn.head()

,title,title_long,subjects,binding,date_published,publisher,pages,synopsis,image,isbn,isbn10,isbn13,language,authors,msrp,edition
0,Britain's Black Debt: Reparations for Caribbea...,Britain's Black Debt: Reparations for Caribbea...,History\nAfrica\nWest Africa\nAmericas\nCaribb...,Paperback,2/25/2013,University Press of the West Indies,248.0,Since the mid-nineteenth-century abolition of ...,https://images.isbndb.com/covers/26/86/9789766...,976640268X,976640268X,9789766402686,en,Hilary McD. Beckles,NaN,NaN
1,Maharani's Misery: Narratives of a Passage fro...,Maharani's Misery: Narratives of a Passage fro...,History\nAmericas\nCaribbean & West Indies,Paperback,10/1/2002,University Press of the West Indies,160.0,Maharani?s Misery sheds new light on the ordea...,https://images.isbndb.com/covers/12/14/9789766...,9766401217,9766401217,9789766401214,en,Verene A. Shepherd,NaN,NaN
2,The Birth of Caribbean Civilization: A Century...,The Birth of Caribbean Civilization: A Century...,Politics & Social Sciences\nSocial Sciences\nH...,Paperback,2004-07,James Currey Ltd,500.0,"For more than a century, Caribbean intellectua...",https://images.isbndb.com/covers/87/20/9780852...,852558724,852558724,9780852558720,en,NaN,NaN,NaN
3,The Lonely Londoners (Longman Caribbean Writer...,The Lonely Londoners (Longman Caribbean Writer...,Literature & Fiction\nHistory & Criticism\nMov...,Paperback,1/11/1989,Longman,141.0,Looking for a better life a group of West Indi...,https://images.isbndb.com/covers/26/45/9780582...,582642647,582642647,9780582642645,en,Samuel Selvon,22.80,15th Printing
4,The Oxford Book of Caribbean Short Stories: Re...,The Oxford Book of Caribbean Short Stories: Re...,Literature & Fiction\nHistory & Criticism\nReg...,Paperback,3/21/2002,Oxford University Press,476.0,"Some of the freshest, most vital, and diverse ...",https://images.isbndb.com/covers/22/93/9780192...,192802291,192802291,9780192802293,en,NaN,29.95,Reissue

In [ ]:
# Could drop some colmns binding, pages, isbns, etc
# Text data, need a way to condense those types of features

In [ ]:
df_cisbn.shape

(6000, 16)

In [ ]:
df_cisbn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           6000 non-null   object
 1   title_long      5997 non-null   object
 2   subjects        5738 non-null   object
 3   binding         5948 non-null   object
 4   date_published  5949 non-null   object
 5   publisher       5980 non-null   object
 6   pages           5663 non-null   float64
 7   synopsis        5462 non-null   object
 8   image           6000 non-null   object
 9   isbn            6000 non-null   object
 10  isbn10          5889 non-null   object
 11  isbn13          6000 non-null   int64
 12  language        5997 non-null   object
 13  authors         5425 non-null   object
 14  msrp            2774 non-null   float64
 15  edition         3046 non-null   object
dtypes: float64(2), int64(1), object(13)
memory usage: 750.1+ KB

In [ ]:
df_cisbn.isna().sum()

title                0
title_long           3
subjects           262
binding             52
date_published      51
publisher           20
pages              337
synopsis           538
image                0
isbn                 0
isbn10             111
isbn13               0
language             3
authors            575
msrp              3226
edition           2954
dtype: int64

In [ ]:
df_cisbn['publisher'].nunique()

1846

In [ ]:
df_cisbn['language'].value_counts()

language
en                        5822
es                          57
nl                          45
de                          25
fr                           9
Spa                          5
eng                          4
it                           3
zh                           3
Spa Spanish; Castilian       3
English                      2
ja                           2
Eng English                  2
spa                          1
pt                           1
pt-br                        1
bm                           1
ba                           1
Spa,eng                      1
f                            1
hu                           1
my                           1
en_US                        1
no                           1
asa                          1
am                           1
fi                           1
sv                           1
Name: count, dtype: int64

In [ ]:
# Drop missing subjects and synopsis?
# Or derive subject data from synopsis or title?
# Or grab publisher from ISBN?

In [ ]:
df_pubs = pd.read_csv('/content/drive/.shortcut-targets-by-id/1qQT-SnFmt_jtHj_aGwCJI02ieJQlzsow/BTT CARI-CONNECT /CariConnect Dataset /publishers_data.csv', encoding= 'latin1')
df_pubs.head()

,Publisher URL,Publisher Name,Country,Location,Media Types,Subjects,Languages,Mailing Address,Phone Number(s),Website,Description,Unnamed: 11
0,https://www.publishersglobal.com/directory/pub...,"John Wiley & Sons, Inc.",United States,"Hoboken, NJ","E-Books, Audio Books, Digital Contents, Books","Reference, Law, Language, History, Gender Stud...",English,"111 River Street, Hoboken, NJ, United States, ...",No number on record,http://www.wiley.com/,Wiley's Global Research business is a provider...,NaN
1,https://www.publishersglobal.com/directory/pub...,"Scholastic, Inc.",United States,"New York, NY","E-Books, Books","Juvenile, Children's, Reference, Language",English,"557 Broadway, New York, NY, United States, 10012",+ 1 212 3436969,http://www.scholastic.com,The world's largest publisher and distributor ...,NaN
2,https://www.publishersglobal.com/directory/pub...,Houghton Mifflin Harcourt Publishing Company,United States,"Boston, MA","Digital Contents, Books","School, Juvenile, Children's",English,"222 Berkeley Street, Boston, MA, United States...",+ 1 617 351 5000,http://www.hmhco.com,"As a global learning company, HMH specializes ...",NaN
3,https://www.publishersglobal.com/directory/pub...,HarperCollins Publishers,United States,"New York, NY","Books, Audio Books","Science, Romance, Mystery, History, Cookbook, ...",English,"10 East 43rd Street, New York, NY, United Stat...",+ 1 2 12 2 07 70 00,NaN,Publishers of trade and religious books. Inclu...,NaN
4,https://www.publishersglobal.com/directory/pub...,Merriam-Webster Inc.,United States,"Springfield, MA","Digital Contents, Books","Dictionary, Reference",English,"47 Federal Street, PO Box 281, Springfield, MA...",+ 1 413 7 34 31 34,http://www.merriam-webster.com,America's first publisher of dictionaries and ...,NaN

In [ ]:
df_pubs.shape

(2383, 12)

In [ ]:
df_pubs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2383 entries, 0 to 2382
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Publisher URL    2383 non-null   object
 1   Publisher Name   2383 non-null   object
 2   Country          1417 non-null   object
 3   Location         1361 non-null   object
 4   Media Types      2344 non-null   object
 5   Subjects         2054 non-null   object
 6   Languages        1253 non-null   object
 7   Mailing Address  2383 non-null   object
 8   Phone Number(s)  2383 non-null   object
 9   Website          2340 non-null   object
 10  Description      2306 non-null   object
 11  Unnamed: 11      0 non-null      float64
dtypes: float64(1), object(11)
memory usage: 223.5+ KB

In [ ]:
# Empty column Unnamed, can drop contact info, subjects are text data

In [ ]:
df_pubs.isna().sum()

Publisher URL         0
Publisher Name        0
Country             966
Location           1022
Media Types          39
Subjects            329
Languages          1130
Mailing Address       0
Phone Number(s)       0
Website              43
Description          77
Unnamed: 11        2383
dtype: int64

In [ ]:
# drop missing subjects data

In [ ]:
# matching books in isbn dataset to publishers dataset

In [ ]:
df_pubs.tail()

,Publisher URL,Publisher Name,Country,Location,Media Types,Subjects,Languages,Mailing Address,Phone Number(s),Website,Description,Unnamed: 11
2378,https://www.publishersglobal.com/directory/pub...,WordLab Media Pvt. Ltd,India,"Bangalore, Karnataka","Magazines, Books",School,NaN,"#216, 1st D Cross, Behind Spencers, Kasturi Na...",+ 91 8065682829,NaN,WordLab Media Pvt Ltd is a company involved in...,NaN
2379,https://www.publishersglobal.com/directory/pub...,Whittons Publisher Tales of the Pahleen,United Kingdom,"Wragby, Lincolnshire","E-Books, Books",NaN,"Chinese, English","22, Carpenters Close, Wragby, Lincolnshire, Un...",+ 44 7787050181,NaN,seeking partnership with Chinese publisher for...,NaN
2380,https://www.publishersglobal.com/directory/pub...,Cradlelight Books,Cameroon,"Buea, Southwest Province",Books,"Religion, History",NaN,"Jerusalem Mission, 16 Saker Street, Buea, Sout...",+ 237 98914652,NaN,Founded by authors with the intent to create g...,NaN
2381,https://www.publishersglobal.com/directory/pub...,Asian Escapades Management and Publishing Ente...,Philippines,Makati City,"Magazines, Books",Travel,NaN,"Philam Life Tower, Makati City, Philippines",+ 63 00632-5004178,NaN,Asian Escapades Management and Publishing Ente...,NaN
2382,https://www.publishersglobal.com/directory/pub...,Reads Publications,India,"Jodhpur, Rajasthan","Magazines, Journals, Books","Social Sciences, Short Story, Religion, Philos...","Hindi, English","2/905,Kuri housing board, Basni first face, Jo...",+ 91 02912730405,NaN,We are publishing books for college level stud...,NaN

In [ ]:
# 70k pubs worldwide 20k on publishersglobal, this dataset has 2k which is a good samplesize / 100 million books overall, 2 million published a year
# good size dataset of caribbean authors
# international data if we want to generalize

In [ ]:
# Matching pubs from Caribbean authors list to Publishers list
arr_cpub = (df_cisbn['publisher'].dropna()).unique()
arr_matches = []
arr_pmatches = []

In [ ]:
for j in range(len(arr_cpub)):
  for i in range(len(df_pubs['Publisher Name'])):
    if (str(arr_cpub[j]) == df_pubs['Publisher Name'][i]): #direct matches ~50
      arr_matches.append(i)
    elif ((str(arr_cpub[j])+" ") in df_pubs['Publisher Name'][i]): #potential matches that contain substring, ~600
      print(str(arr_cpub[j])+' AND '+df_pubs['Publisher Name'][i])
      arr_pmatches.append(i)

Longman AND Addison Wesley Longman Computer & Engineering Publishing Group
Oxford University Press AND Oxford University Press Canada
Oxford University Press AND Oxford University Press Tanzania
Pearson AND Pearson Education USA
Pearson AND Pearson Education Ltd
Houghton Mifflin Harcourt AND Houghton Mifflin Harcourt Publishing Company
Lonely Planet AND Lonely Planet Publications
Heinemann AND Heinemann Library
Hampton Roads Publishing AND Hampton Roads Publishing Company
Unknown AND The Unknown Author
Bloomsbury Publishing AND Bloomsbury Publishing plc.
Collins AND HarperCollins Publishers
Collins AND Collins Cobuild
Macmillan AND Macmillan India Limited
Macmillan AND Macmillan Publishers
Macmillan AND Macmillan Computer Publishing
Crown AND Crown House Publishing LLC
Bloomsbury AND Bloomsbury Publishing plc.
Hale AND Robert Hale Ltd
Pocket AND Diamond Pocket Books
Houghton Mifflin AND Houghton Mifflin Harcourt Publishing Company
White Star AND White Star S.p.a
Caribbean AND Caribbean Books Foundation
International Monetary Fund AND International Monetary Fund Publications Services
Penguin Books AND Penguin Books India
Random House AND Random House Struik
Random House AND Random House Mondadori
Century AND New Century Publications Ltd.
McGraw-Hill AND McGraw-Hill Education
Apple Press AND Apple Press Ltd
HarperCollins AND HarperCollins Publishers
Verso AND Verso Books
Wiley AND John Wiley & Sons, Inc.
UNESCO AND UNESCO Publishing
Prima Games AND Prima Games - Games Strategy
Grub Street AND Grub Street Publishing Ltd.
Norton AND W.W. Norton and Company
iser AND The Waywiser Press
Calendars AND NZVP Books and Calendars Ltd
Hal Leonard AND Hal Leonard Online
The History Press AND The History Press Ireland
Penguin AND Penguin Random House
Penguin AND Penguin Group UK
Penguin AND Penguin Books India
Insight AND Insight Editions
Insight AND Insight for the Blind
Insight AND Insight Press
Tate AND Tate Publishing
Nielsen AND Patrick and Teresa Nielsen Hayden
Multnomah AND Multnomah Publishers
Jessica Kingsley Publishers AND Jessica Kingsley Publishers Ltd.
Elsevier AND Elsevier Ltd
Philip Wilson Publishers AND Philip Wilson Publishers Ltd.
Footprint AND Footprint Handbooks
Annick Press AND Annick Press Ltd
The Green Box AND The Green Box Kunstedition
Harpercollins AND Harpercollins Children's Books
Arcade AND Arcade Publishing
Flamingo AND Pink Flamingo Publishing
Tyndale House AND Tyndale House Publishers, Inc.
Wipf and Stock AND Wipf and Stock Publishers
Fernando AND Shashika Fernando ulme-mini-verlag
B AND BRB Publications, Inc.
B AND Egmont KÃ¤rnan AB (Head Office)
B AND Plan B Publishing
B AND iLAB America Inc.
B AND PB & J Omnimedia
B AND ZB Printing
B AND Fraunhofer IRB Verlag
State University of New York Press AND State University of New York Press (SUNY Press)
Studio AND Studio Jupiter Military Publishing

In [ ]:
# Partial matches above, full matches below
df_pubs.iloc[arr_matches]

,Publisher URL,Publisher Name,Country,Location,Media Types,Subjects,Languages,Mailing Address,Phone Number(s),Website,Description,Unnamed: 11
5,https://www.publishersglobal.com/directory/pub...,Pearson,United Kingdom,London,"Journals, Books","Academic, School, Literature, History, Educati...",English,"80 Strand London, London, United Kingdom, WC2R...",+ 44 44 20 7010 2000,http://www.pearson.com,"International media company with education, bu...",NaN
11,https://www.publishersglobal.com/directory/pub...,Cambridge University Press,United Kingdom,Cambridge,"Journals, Books","Academic, Teaching, Education",English,"The Edinburgh Building, Shaftesbury Road, Camb...",+ 44 (0)12 23 31 23 93,http://www.cambridge.org,Cambridge University Press is a department of ...,NaN
359,https://www.publishersglobal.com/directory/pub...,University of Oklahoma Press,United States,"Norman, OK","E-Books, Books","Academic, Military, Fiction",English,"2800 Venture Drive, Norman, OK, United States,...",No number on record,http://www.oupress.com,Publisher of award winning scholarly and gener...,NaN
861,https://www.publishersglobal.com/directory/pub...,The Monacelli Press,United States,"New York, NY",NaN,NaN,NaN,"1745 Broadway, New York, NY, United States, 10019",No number on record,http://www.monacellipress.com,"The Monacelli Press publishes high-quality, il...",NaN
557,https://www.publishersglobal.com/directory/pub...,Rawat Publications,India,"Jaipur, Rajasthan",Books,"Social Sciences, Religion, Psychology, Politic...","Hindi, English","Satyam Apartments, Sector 3, Jawahar Nagar, Ja...",+ 91 0141-2651748,https://www.rawatbooks.com/,RAWAT PUBLICATIONS is one of the leading indep...,NaN
18,https://www.publishersglobal.com/directory/pub...,Chronicle Books,United States,"San Francisco, CA","E-Books, Books","Architecture, Self-Help, Music, Design, Childr...",English,"680 Second Street, San Francisco, CA, United S...","+ 1 8 00 7 22 66 57, + 1 4 15 5 37 4...",http://www.chroniclebooks.com,Chronicle Books is an independent publisher of...,NaN
3,https://www.publishersglobal.com/directory/pub...,HarperCollins Publishers,United States,"New York, NY","Books, Audio Books","Science, Romance, Mystery, History, Cookbook, ...",English,"10 East 43rd Street, New York, NY, United Stat...",+ 1 2 12 2 07 70 00,NaN,Publishers of trade and religious books. Inclu...,NaN
44,https://www.publishersglobal.com/directory/pub...,John Benjamins Publishing Company,Netherlands,Amsterdam,"Journals, Books","Social Sciences, Language","Dutch, English","P.O. Box 36224, Amsterdam, Netherlands, NL-1020",+ 31 20-6304747,https://www.benjamins.com/,Books and journals for the social sciences and...,NaN
778,https://www.publishersglobal.com/directory/pub...,New Falcon Publications,NaN,NaN,Books,"Spirituality, Society, Religion",NaN,No address on record,No number on record,http://www.newfalcon.com/,"Book publisher: metaphysics, sexuality, Golden...",NaN
153,https://www.publishersglobal.com/directory/pub...,Teacher Created Materials,United States,"Huntington Beach, California","E-Books, Digital Contents, Books, Audio Books","Young Adult, Women, Travel, Transportation, Te...","Spanish, Italian, English","5482 Argosy Avenue, Huntington Beach, Californ...",+ 1 7148912273,https://www.teachercreatedmaterials.com/,"For over 40 years, Teacher Created Materials (...",NaN
71,https://www.publishersglobal.com/directory/pub...,Verso Books,United States,New York City,Books,"Architecture, Social Sciences, Politics, Philo...",English,"20 Jay Street, Suite 1010 Brooklyn, New York C...",+ 1 1 (718) 246 8160,http://www.versobooks.com,"Publisher of intelligent, critical works that ...",NaN
180,https://www.publishersglobal.com/directory/pub...,University of Arizona Press,NaN,NaN,Books,Academic,NaN,No address on record,No number on record,http://www.uapress.arizona.edu/,Publisher of Latino authors under the Camino d...,NaN
51,https://www.publishersglobal.com/directory/pub...,AA Publishing,United Kingdom,Basingstoke,"Digital Contents, Maps, Books","Travel, Lifestyle",English,"11th Floor, Fanum House Basing View, Basingsto...",+ 44 (0)12 56 49 15 04,http://shop.theaa.com/,The AA was founded in 1905 as a body initially...,NaN
139,https://www.publishersglobal.com/directory/pub...,Simon & Schuster,United States,La Jolla,NaN,NaN,NaN,"5666 La Jolla Boulevard, #154, La Jolla, Unite...",+ 1 858-551-0869,http://www.simonandschuster.com/,Simon & Schuster publishes approximately 2000 ...,NaN
10,https://www.publishersglobal.com/directory/pub...,Tate Publishing,United Kingdom,London,Books,"Contemporary, Art",English,"Millbank, London, United Kingdom, SW1P 4RG",+ 44 (0)20 78 87 86 23,http://www.tate.org.uk,"Publishers of art books, exhibition catalogues...",NaN
1288,https://www.publishersglobal.com/directory/pub...,House of Nehesi Publishers,NaN,NaN,Books,Essays,NaN,No address on record,No number on record,http://www.houseofnehesipublish.com/,"Books of poetry, short stories, drama, scholar...",NaN
2212,https://www.publishersglobal.com/directory/pub...,BBC Audiobooks America,NaN,NaN,NaN,NaN,NaN,No address on record,No number on record,http://www.bbcaudiobooksamerica.com,BBC Audiobooks America publishes and distribut...,NaN
923,https://www.publishersglobal.com/directory/pub...,Primus Books,India,"Delhi, Delhi","Journals, Books","Academic, Science, Politics, Political Science...",Persian,"Virat Bhavan, Mukherjee Nagar Commercial Compl...",+ 91 091-11-47038000,http://www.primusbooks.com,"Primus Books has commissioned, and shall conti...",NaN
70,https://www.publishersglobal.com/directory/pub...,University of North Carolina Press,United States,Chapel Hill,"Journals, Books","Academic, Architecture, Social Sciences, Medic...",English,"116 South Boundary Street, Chapel Hill, United...",No number on record,http://www.uncpress.unc.edu/,Publisher of general and academic books and jo...,NaN
383,https://www.publishersglobal.com/directory/pub...,Hardie Grant Books,Australia,"Richmond, Victoria",Books,"Travel, Food, Fiction",NaN,"Ground Floor, Building One, 658 Church Street,...",+ 61 3 85206444,http://www.hardiegrant.com.au,"AN independent book publisher, founded in 1997...",NaN
40,https://www.publishersglobal.com/directory/pub...,Rough Guides,United Kingdom,London,"Digital Contents, Maps, Books",Travel,English,"80 Strand, London, United Kingdom, WC2R 0RL",+ 44 (0)20 70 10 30 00,http://www.roughguides.com,Rough Guides is as much a travel content provi...,NaN
981,https://www.publishersglobal.com/directory/pub...,Gefen Publishing House,Israel,Jerusalem,"Maps, Journals, E-Books, Books",NaN,"Russian, Hebrew, German","6 Hatzvi, Jerusalem, Israel, 94386",+ 972 2-538-0247,http://www.gefenpublishing.com,Gefen Publishing is an English-language publis...,NaN
1357,https://www.publishersglobal.com/directory/pub...,Footprint Handbooks,United Kingdom,"Bath, Avon",Books,"Travel, Transportation, Sports, Spirituality, ...",English,"6 Riverside Court, Lower Bristol Road, Bath, A...",+ 44 (0)12 25 46 91 41,http://www.footprintbooks.com,Footprint guides are perfect for independent t...,NaN
1345,https://www.publishersglobal.com/directory/pub...,Acorn Publishing,NaN,NaN,Books,Health,NaN,No address on record,No number on record,http://www.acornpublishing.com,Focuses on uplifting medical-related books suc...,NaN
2136,https://www.publishersglobal.com/directory/pub...,Amsterdam Publishers,Netherlands,NaN,"E-Books, Books, Audio Books","Novel, Memoir, History, General Fiction, Forei...","Ukrainian, Polish, Spanish, Italian, German, F...","PO Box C5965, Keurenplein 41, 1069CD Amsterdam...",No number on record,https://en.wikipedia.org/wiki/Amsterdam_Publis...,As a publisher specialized in Holocaust memoir...,NaN
236,https://www.publishersglobal.com/directory/pub...,Hart Publishing,United Kingdom,Oxford,"E-Books, Books","Law, Art",English,"16c Worcester Place, Oxford, United Kingdom, O...",+ 44 (0)1865 517 530,http://www.hartpub.co.uk,"Established over 12 years ago, Hart Publishing...",NaN
481,https://www.publishersglobal.com/directory/pub...,McGraw-Hill Education,United Kingdom,"Maidenhead, Berkshire","E-Books, Books","Academic, Education, Economics, Ecology, Const...",English,"Shoppenhangers Road, Maidenhead, Berkshire, Un...",+ 44 (0)16 28 50 25 00,http://www.mcgraw-hill.co.uk,Publishers and distributors of books for the p...,NaN
1292,https://www.publishersglobal.com/directory/pub...,Sidestone Press,Netherlands,"Leiden, Zuid-Holland",Books,"Academic, Social Sciences, Science, Political ...",Dutch,"Hooigracht 69, Leiden, Zuid-Holland, Netherlan...",+ 31 031 (0) 71 5132929,http://www.sidestone.com,Publisher of academic books. Books are distrib...,NaN
805,https://www.publishersglobal.com/directory/pub...,Tradewind Books,NaN,NaN,"E-Books, Books",Children's,NaN,No address on record,No number on record,http://www.tradewindbooks.com,International publisher of a wide variety of p...,NaN
686,https://www.publishersglobal.com/directory/pub...,Cruising Guide Publications,NaN,NaN,Books,NaN,NaN,No address on record,No number on record,http://www.cruisingguides.com,Special interest publisher of yachting guides ...,NaN
259,https://www.publishersglobal.com/directory/pub...,Macmillan Publishers,United States,New York City,Books,"Young Adult, Fiction, Children's",English,"175 Fifth Avenue, New York City, United States...",+ 1 646-307-5151,http://us.macmillan.com,"Macmillan Publishers, a distinctive group of p...",NaN
89,https://www.publishersglobal.com/directory/pub...,Graywolf Press,NaN,NaN,Books,Poetry,NaN,No address on record,No number on record,http://www.graywolfpress.org/,"Authors such as Dana Gioia, Albert Goldbarth, ...",NaN
129,https://www.publishersglobal.com/directory/pub...,ABC-CLIO,NaN,NaN,"Digital Contents, Books",Reference,NaN,No address on record,No number on record,http://www.abc-clio.com/,"For 60 years now, ABC-CLIO, LLC, has been reco...",NaN
389,https://www.publishersglobal.com/directory/pub...,Anthem Press,United Kingdom,London,Books,"Academic, Science, School",NaN,"75-76 Blackfriars Road, London, United Kingdom...",+ 44 (0)20 7401 4200,http://www.anthempress.com/,Anthem Press is a distinguished independent in...,NaN
1520,https://www.publishersglobal.com/directory/pub...,Royards Publishing Company Ltd,Trinidad and Tobago,Macoya,Books,Text,NaN,"7A, Macoya Industrial Estate, Macoya, Trinidad...",+ 1 (868)6450423,http://www.royards.com,Publisher of Textbooks for Primary and Seconda...,NaN
607,https://www.publishersglobal.com/directory/pub...,Business Expert Press,United States,"Hampton, New Jersey","E-Books, Books","Women, Business",English,"158, Perryville Road, Hampton, New Jersey, Uni...",+ 1 9087521257,http://www.businessexpertpress.com,Business Expert Press is a publishing company ...,NaN
144,https://www.publishersglobal.com/directory/pub...,Libraries Unlimited,NaN,NaN,"E-Books, Books","Science, Reference",NaN,No address on record,No number on record,http://www.lu.com/,"Publishes bibliographies and reference books, ...",NaN
1367,https://www.publishersglobal.com/directory/pub...,Leiden University Press,Netherlands,"Leiden, Zuid-Holland","Journals, E-Books, Books","Academic, Theology, Text, Law","Chinese, Turkish, Dutch, Korean, Japanese, Heb...","Academy Building, Rapenburg 73, Leiden, Zuid-H...",+ 31 71 5271451,http://lup.nl,Leiden University Press is the publisher of th...,NaN
1546,https://www.publishersglobal.com/directory/pub...,A r a w a k publications,Jamaica,Kingston,"Journals, Books","Academic, Science, Religion, Political Science...",Spanish,"Kingston, Jamaica",+ 1 876 822 6705,http://www.arawakpublications.com,"Academic, professional and children's book and...",NaN
59,https://www.publishersglobal.com/directory/pub...,Haymarket Books,United States,Chicago,Books,"Women, Politics, History, Gender Studies, Educ...",English,"P.O. Box 258082, Chicago, United States, IL 60625",No number on record,http://www.haymarketbooks.org/,"Haymarket Books is a nonprofit, book distribut...",NaN
586,https://www.publishersglobal.com/directory/pub...,Accent Press,United Kingdom,"Bedlinog, Wales","E-Books, Books","Self-Help, Health, Education, Diet, Biography",English,"The Old School, Upper High Street, Bedlinog, W...",+ 44 (0)14 43 71 09 30,http://www.accentpress.co.uk,Accent Press is a dynamic publishing company w...,NaN
702,https://www.publishersglobal.com/directory/pub...,Arcade Publishing,NaN,NaN,Books,Literature,NaN,No address on record,No number on record,http://www.arcadepub.com,Publishers of quality American and world liter...,NaN
1624,https://www.publishersglobal.com/directory/pub...,Trident Press,NaN,NaN,"E-Books, Books","Reference, Encyclopedia",NaN,No address on record,No number on record,http://www.trident-international.com/,"Publishes reference books, including dictionar...",NaN
535,https://www.publishersglobal.com/directory/pub...,Caribbean Books Foundation,Trinidad and Tobago,"Woodbrook, City of Port of Spain","E-Books, Books","Young Adult, Women, True Crime, Thriller, Teac...",English,"#39 Cornelio Street, , Woodbrook, City of Port...",No number on record,http://www.caribbeanbooks.org,Caribbean Books Foundation is a registered non...,NaN
1064,https://www.publishersglobal.com/directory/pub...,Hampton Roads Publishing Company,NaN,NaN,Books,"Spirituality, Society, Religion, Fiction",NaN,No address on record,No number on record,http://www.hamptonroadspub.com/,Publisher of books on metaphysical subjects in...,NaN

In [ ]:
[len(arr_matches), len(arr_pmatches)]

[45, 71]

In [ ]:
# Matches in international popular books dataset

In [ ]:
arr_bpub = (df_books['Publisher'].dropna()).unique()
matches = []
for j in range(len(arr_bpub)):
  for i in range(len(df_pubs['Publisher Name'])):
    if (str(arr_bpub[j]) == df_pubs['Publisher Name'][i]): #direct matches ~10
      matches.append(i)
len(matches)

13

if we use the caribbean books dataset alone thats 6k books with almost 2k unique pubs
     and the logic would be like finding books similar to yours and seeing which publishers those books went to (then we'd be primarily determining similarity between books)
     only issue is that is limited to the ~2k publishers within the dataset.
         For context there are 70k pubs globally, though the largest dataset only contains 20k of them. Still, 2k is a sizeable list and could be enough for the scope of this. Especially if we're catering to authors in the caribbean market specifically, tried and true partnerships

meanwhile, the other publishers specific dataset has a list of 2k pubs but no way to really connect to author data aside from the tiny portion of 50 matches between both pubs and cari sets
      All i see this serving is expanding the list of options (I don't think we will be providing contact info, due to the possibility of hallucination and the ability for authors to find that info themselves)
      to this end, we could match other publishers with those 50 that matched. But, if we're outputting a list of say top 5 matches, is another 2k pubs to the original, already paired 2k going to add much? Especially if we Don't have a catalogue of published books history to go off of? (we'd soley be referencing subject and description of the publisher, and going off of 50 matching datapoints) (in perspective say we have 50 clusters, from the cari set we may have 40 per cluster, the pubs set would add another 40, but those could tend towards the bottom of the list and not have a substantial effect on our top 5 choices)

there is also the popular books data of 1.5k books and 600 unique publishers. but with those there are even fewer matches between publishers, ~10. it could give more conext to our cari books set, but bc these are popular and dated books they may not be a good reference for new and modern authors

Therefore we shall discard the other datasets and focus on the quality Caribbean authors data

In [ ]:
df_books2 = df_books.copy()
df_books2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   URL                   1437 non-null   object
 1   Book Title            1437 non-null   object
 2   Author                1437 non-null   object
 3   ISBN                  1437 non-null   object
 4   Language              1273 non-null   object
 5   Publisher             1209 non-null   object
 6   Publication place     1155 non-null   object
 7   Genre                 652 non-null    object
 8   Publication date      1139 non-null   object
 9   Published             287 non-null    object
 10  Pages                 1209 non-null   object
 11  MediaÂ type            1029 non-null   object
 12  Subject               705 non-null    object
 13  Dewey Decimal         234 non-null    object
 14  Series                92 non-null     object
 15  OCLC                  604 non-null    object
 16  FollowedÂ by           356 non-null    object
 17  PrecededÂ by           342 non-null    object
 18  CoverÂ artist          139 non-null    object
 19  AudioÂ readÂ by         25 non-null     object
 20  Illustrator           141 non-null    object
 21  OriginalÂ title        165 non-null    object
 22  Translator            102 non-null    object
 23  PublishedÂ in English  91 non-null     object
 24  Awards                22 non-null     object
 25  LCÂ Class              287 non-null    object
 26  Text                  15 non-null     object
 27  SetÂ in                26 non-null     object
 28  Subjects              54 non-null     object
 29  Website               44 non-null     object
 30  Editor                15 non-null     object
 31  Release number        9 non-null      object
 32  Nationality           0 non-null      float64
 33  WorkingÂ title         5 non-null      object
 34  Award                 4 non-null      object
 35  Translators           8 non-null      object
dtypes: float64(1), object(35)
memory usage: 404.3+ KB

In [ ]:
df_books2.dropna(subset=['Subject', 'Genre'], inplace=True, how='all')
df_books2.dropna(subset=['Publisher'], inplace=True)

In [ ]:
df_books2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 970 entries, 0 to 1436
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Book Title  970 non-null    object
 1   Genre       564 non-null    object
 2   Subject     589 non-null    object
 3   Publisher   970 non-null    object
dtypes: object(4)
memory usage: 37.9+ KB

In [ ]:
df_books2 = df_books2[['Book Title', 'Genre', 'Subject', 'Publisher']]

In [ ]:
df_books2.isna().sum()

Book Title      0
Genre         406
Subject       381
Publisher       0
dtype: int64

In [ ]:
df_books2

,Book Title,Genre,Subject,Publisher
0,London: The Biography,Non-fiction,London,Chatto & Windus
1,Queer City,NaN,LGBT culture in London; LGBT history of London,"Chatto & Windus (UK), Abrams Books (US)"
2,Douglas Adams's Guide to The Hitchhiker's Guid...,"Comedy, Science fiction",NaN,BBC
4,The Meaning of Liff,NaN,Humour/Toponymy/Etymology,Pan Books
5,The Salmon of Doubt,HumourScience fiction novel,NaN,"UK: William Heinemann Ltd., US: Pocket Books"
...,...,...,...,...
1432,Slovenska smer,PoliticsPolitical SciencePhilosophy,NaN,Cankarjeva zalo?ba
1433,The Sublime Object of Ideology,NaN,"Ideology, Marxism, psychoanalysis",Verso Books
1434,Welcome to the Desert of the Real,NaN,September 11 attacks,Verso Books
1435,The Case for Mars,NaN,Non-fictionScience,Touchstone
1436,Energy Victory,Non-fiction,NaN,Prometheus Books (U.S.)